*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}
nav{
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
	height: 75px;

}
nav ul{
	margin: 0;
	text-align: center;
}
nav li{
	display: inline-block;
	padding-top: 30px;
}
nav li a{
	text-decoration: none;
	color:white;
	padding:100px;
	font-family: 'Permanent Marker', sans-serif;
	font-size: 16px;
}
.hero-image{
	width: 100%;
	max-width: 500px;
	display: block;
	margin: 0 auto;
	padding: 100px ;
}

body{
	background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcREzAgwKvelYk2xYgRsBjmfeqxUIJ0lG3MSgYdginnvcuDJwRwt);
	background-size: cover;
	height: 700px;
}
.column{
	float:left;
	width:50%;
}
.column-inner{
	padding: 20px;
}
.pic{
	width: 100%;
  padding: 20px;
}
h1 {
  margin: 0;
  font-family: 'Permanent Marker';
  text-align: center;
  font-weight: bold;
  color:white;
  padding: 25px;
}
.column-60{
	height: 300px;
	width: 60%;
	float:left;
}
.column-40{
	height: 300px;
	width: 40%;
	float:left;
}
@media (max-width: 700px){
  .column{
    width:100%;
  }
}
@media (max-width: 700px){
  .column-40{
    width:100%;
  }
}
@media (max-width: 700px){
  .column-60{
    width:100%;
  }
}

